
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap";
@import "landing-page/header.css";
@import "landing-page/top-jumbo.css";
@import "landing-page/design-by.css";
@import "landing-page/color-collection.css";
@import "landing-page/blue-print.css";
@import "landing-page/latest.css";
* {
    font-family: 'Montserrat', sans-serif;

}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.container-fluid{
    margin: 0 3%;
    padding: 0 20px;
}

.box-shadow-down{
    -webkit-box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
    box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
}
.box-shadow-center{
    -webkit-box-shadow: 0px 0px 65px 13px rgba(158,158,158,0.2);
    -moz-box-shadow: 0px 0px 65px 13px rgba(158,158,158,0.2);
    box-shadow: 0px 0px 65px 13px rgba(158,158,158,0.2);
}